<div class="card form_frame">
  <div class="card-body login-card-body">

    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_field :address %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :telephone %><br />
        <%= f.text_field :telephone %>
      </div>

      <div class="field">
        <%= f.label :start_time %><br />
        <%= f.time_select :start_time %>
      </div>

      <div class="field">
        <%= f.label :end_time %><br />
        <%= f.time_select :end_time %>
      </div>

      <div class="field">
        <%= f.label :access %><br />
        <%= f.text_area :access %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(パスワードを変更しないのであれば、空欄のまま進めて下さい)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(編集を確定するには現在登録されているパスワードを入力する必要があります)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <!-- TODO: 画像をそのまま使って更新する方法 -->
      <div class="field">
        <%= f.label :image %><br />
        <%= image_tag(@store.image.url) if @store.image && @store.image.url %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
        <%#= f.check_box :image, {} , "#{@store.image}" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <h3>退会する場合はこちら</h3>

    <p><%= button_to "退会", registration_path(resource_name), data: { confirm: "本当に退会しますか?" }, method: :delete %></p>

    <%= link_to "Back", :back %>

  </div>
</div>